<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="ReliableTests">
            <file>tests/BasicTest.php</file>
            <file>tests/IssueManagerTest.php</file>
            <file>tests/MigrationCheckerTest.php</file>
        </testsuite>
        <testsuite name="Suppliers">
            <file>tests/SupplierTestingExamplesTest.php</file>
        </testsuite>
    </testsuites>
    <coverage/>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>